<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: skyblue;">
    <div class="container">
      <a class="navbar-brand" style="color: white;" routerLink ="" ><b>API Demo Site</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav ml-auto">
            <br/><br/>
          <li class="nav-item">
            <a class="nav-link" routerLink="" style="color:white ;"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" style="color:white ;"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product" style="color:white ;"><b>Sample Post</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" style="color:white ;"><b>Contact</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
