
<header class="masthead" style="height:500px;  background-image: url('./assets/home-bg1.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-heading" style="text-align: center;">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <h1>Clean Blog</h1>
            
            <span class="subheading">A Blog Theme by API Demo Site</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-4 mx-auto">
        <div class="post-preview" *ngFor="let product of productResult | async">
          <a routerLink="/product/{{product.id}}">
              <br/>
            <h1 class="post-title">
              {{product.description}}
            </h1>
            <h3 class="post-subtitle">
              
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a routerLink="/product/{{product.id}}">{{product.posted}}</a>
           on  {{product.date.substr(0,10)}}</p>
           <hr>
        </div>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts →</a>
        </div>
        <br/>
        
      </div>
    </div>
  </div>
  <hr/>